@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web Pages App</title>
    
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
  <nav>
      <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Ray Casting Demo</a>
  </nav>

  <main>
  
  <form method="post">
    <textarea asp-for="Map" class="wideTextArea"></textarea><br/>
    <input asp-for="DirectionInDegrees" /><br/>
    <input type="submit">
  </form>
  
  
  <img src="data:image/png;base64, @Model.ImageBytesBase64" alt="Image" />  
    
    
  </main>
  
  <a href="https://glitch.com/edit/#!/csharp-raycasting">Edit me on Glitch!</a>

  <hr />

  <footer>
      <p>&copy; 2020 - David Whitney</p>
  </footer>
        
  <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>



